body {
  margin: auto;
  text-align: start;
  width: 80%;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-blend-mode: lighten;
  background-color: rgba(162,162,162,0.8);
  background-size: cover;
}
label:nth-child(1) {
  font-size: 1.7rem;
  color: purple;
}
input {
  width: 50%;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid grey;
}
button {
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid red;
  padding: 3px 10px;
  border-radius: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button:hover {
  background-color: #4caf50;
  color: white;
}
#result {
  margin-top: 1rem;
  padding: 50px;
}

.main-part {
  width: 40%;
  float: left;
  text-align: center;
}

.title {
  font-size: 3em;
}

.details-part {
  width: 50%;
  float: left;
}

.details-part div{
  padding-top: 5px;
}

.character {
  float: left;
  text-align: center;
  width: 230px;
}


/* .movie {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
}

.index {
  color: goldenrod;
  font-size: 1.5rem;
}
.title {
  color: tomato;
}
.page-id {
  color: peru;
} */

@media screen and (max-width: 700px) {
  .index {
    font-size: 1rem;
  }
}
